<!-- <h1>New User</h1>

<%# <%= render 'form', user: @user %> %>

<%= link_to 'Back', users_path %> -->

<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<% provide(:is_new, true) %>
<h1>Sign up</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
